DATABASE_URL=postgresql://arcforge:arcforge@localhost:5433/arcforge_ai?schema=public
AUTH_SESSION_COOKIE_NAME=arc_forge_session

LIVEBLOCKS_SECRET_KEY=

TRIGGER_SECRET_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_API_KEY=

GOOGLE_AI_API_KEY=

APP_URL=http://localhost:3000
